body {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background: repeating-linear-gradient(45deg, rgb(45, 45, 75) 0%,rgb(60, 52, 92) 10%,rgb(45, 45, 71) 30%);
  height: 100vh;
}

* {
  transition: .4s;
}
li {
  cursor:pointer;
}
li:hover {
  opacity:0.7;
}

#overlay {
  position: fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background: black;
  z-index: 99;
  opacity: 1;
}

.navbar {
  background-color: rgb(45, 45, 75);
  box-shadow: 0 10px 170px rgba(255, 255, 255, 0.377);
}