:root {
  --red: #e4323e;
  --mid-color: #5b6419;
  --green: #42aa0f;
}

.home-main-container {
  background-color: var(--red);
  padding: 10rem 5rem;
  /* padding: 3rem 100%; */
  margin: -0.5rem;
  display: flex;
  align-items: center;
  width: 90%;
  background-image: linear-gradient(var(--red) 75%, var(--green));
}
.invite-button {
  font-size: 3rem;
  background-color: crimson;
  height: 25%;
  width: 25%;
}
.logo {
  width: 35%;
  border-radius: 3.5rem;
  left: 0;
}
.home-content {
  padding: 0.5rem 1.2rem;
  animation: homeInfo-anim 2s;
  align-self: center;
}

.home-faq {
  background: var(--green);
  padding: 9rem 6rem;
  margin: -0.5rem -0.5rem -0.5rem;
  display: flex;
}

.nav {
  position: fixed;
  min-height: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 1.5rem;
  background: var(--red);
  color: black;
  display: flex;
}

.nav-items {
  flex-flow: row;
  font-size: 3vh;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.app {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  background-color: grey;
}
@keyframes homeInfo-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  font-family: -paple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
