:root {
  overflow-x: hidden;
  --gray: rgb(34, 32, 32);
  --black: rgb(24, 24, 24);
}

.section-container {
  width: 100%;
  background-color: var(--black);
  background-image: linear-gradient(var(--black) 75%, var(--gray));
  display: flex;
  margin: 0 -3rem;
  padding-top: 8rem;
  padding-left: 2rem;
}
.section-content {
  margin-top: 9rem;
  margin-left: -2rem;
  padding: 2rem 7rem;
  animation: fade-in-anim 2.5s;
  align-self: center;
  word-wrap: break-word;
}

.nav {
  width: 100%;
  height: 18%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--black);
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  width: 70%;
  height: 13vw;
  list-style: none;
  margin-left: 2rem;
}
.burguer-toggle {
  cursor: pointer;
  display: none;
  position: fixed;
  width: 3rem;
  height: 3rem;
  top: 2rem;
  right: 2.3rem;
  z-index: 3;
}
.burguer {
  background-color: white;
  width: 1.8rem;
  height: 0.2rem;
  display: block;
  right: 3rem;
  position: fixed;
}
.line-1 {
  top: 3rem;
}
.line-2 {
  top: 3.5rem;
}
.line-3 {
  top: 4rem;
}

.mobile-navbar {
  list-style: none;
  background-color: rgba(27, 27, 27, 0.99);
  font-size: 1.4rem;
  width: 100%;
  position: fixed;
  top: 7rem;
  display: none;
  z-index: 3;
}

.app {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  background-color: grey;
}
a {
  margin: 1.5vw;
  padding: 1.5vw;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.invite-button {
  font-family: inherit;
  font-size: 3rem;
  background-color: aliceblue;
  color: var(--black);
  height: 15%;
  width: 15%;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.invite-button:hover {
  opacity: 0.9;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.6);
}

.logo {
  margin-left: 3rem;
  height: 80%;
  width: 100px;
  flex-shrink: 0;
  border-radius: 50px;
  overflow: hidden;
}
.section-container .faq {
  padding: 0 1rem;
}
@media (max-width: 720px) {
  .nav-items {
    display: none;
  }
  .burguer-toggle {
    display: block;
  }
  .mobile-navbar-links {
    list-style: none;
    display: flex;
  }
  .mobile-navbar {
    display: flex;
  }
  .nav {
    height: 115px;
  }
  .section-content .faq {
    margin-left: -2rem;
    font-size: 0.8rem;
  }
  .logo {
    width: 92px;
  }
  .html {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}

@keyframes fade-in-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body,
html {
  font-family: -paple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  background-color: var(--black);
}
