:root {
  overflow-x: hidden;
  --gray: rgb(34, 32, 32);
  --black: rgb(24, 24, 24);
  height: 100vh;
}

.fullpage-container {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  height: calc(100vh - 100px);
  padding-top: 100px;
  animation: fade-in-anim 2s;
}
.fullpage-container h1 {
  font-size: 80px;
  margin:0;
}

.fullpage-container h2 {
  font-size: 30px;
  margin:0;
}
.nav {
  z-index: 10;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--black);
  display: flex;
  align-items: center;
  box-shadow: 0 5px 30px rgb(0, 0, 0);
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  width: 70%;
  height: 13vw;
  list-style: none;
  margin-left: 2rem;
}
.nav .logo {
  height: 100px;
}
.burguer-toggle {
  cursor: pointer;
  display: none;
  position: fixed;
  width: 3rem;
  height: 3rem;
  top: 2rem;
  right: 2.3rem;
  z-index: 3;
}
.command {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  width: 100%;
  height: max-content;
  border-bottom: 2px white solid;
}
.command:first-of-type {
  background-color: dimgrey;
}
.command-description {
  border-width: 0 3px;
  border-style: solid;
}
.command-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.commands-wrapper {
  font-size: 1.3rem;
  margin: 4rem;
  width: 80%;
  display: flex;
  align-items: center;
  flex-flow: column;
  border: 0.3rem white solid;
  flex: 1 0 1;
  border-radius: 3px;
}
.dropdown-command {
  animation: dropdown-anim 500ms ease-in-out forwards;
  transform-origin: top center;

  width: 100%;
  background-color: #2a2a2a;
  border-bottom: 2px white solid;
  height: 7rem;
}
.dropdown-command-content {
  position: absolute;
}

.burguer {
  background-color: white;
  width: 1.8rem;
  height: 0.2rem;
  display: block;
  right: 3rem;
  position: fixed;
}
.line-1 {
  top: 3rem;
}
.line-2 {
  top: 3.5rem;
}
.line-3 {
  top: 4rem;
}
.cards {
  padding: 3rem 0;
  background-color: var(--gray);
  display: flex;
  justify-content: space-around;
}
.card-container {
  text-align: center;
  background-color: var(--black);

  width: 22%;
  border-radius: 1rem;
}

.mobile-navbar {
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  list-style: none;
  background-color: rgba(30, 30, 30, 0.999);
  font-size: 1.4rem;
  width: 100vw;
  position: fixed;
  top: 7rem;
  display: none;
  z-index: 3;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding: 20px;
  padding-top: 200px;
}

.mobile-navbar-links {
  font-weight: 900;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.footer-container {
  /* height: 170px; */
  display: flex;
  justify-content: flex-end;
  border-top: 2px solid white;
  background-color: #2a2a2a;
  font-size: 1.2rem;
  bottom: 0;
  width: 100%;
  position: fixed;
}
.footer-container ul:first-child {
  margin-right: auto;
}
.footer-credits{
  font-family: Roboto, sans-serif;
  list-style: none;
}
.footer-links {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0.5rem 2rem;
  list-style: none;
  min-height: 0;
  /* border: 3px solid white; */
}
.footer-links li:first-child {
  /* margin: 1rem 0; */
  font-weight: bold;
  text-decoration: aqua underline;
}
.footer-links a {
  color: inherit;
}
a {
  margin: 1.5vw;
  padding: 1.5vw;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.colored-text{
  color:aqua
}
.invite-button {
  font-family: inherit;
  font-size: 3rem;
  background-color: aliceblue;
  color: var(--black);
  height: 15%;
  width: 15%;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.invite-button:hover {
  opacity: 0.9;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.6);
}

.logo {
  margin-left: 3rem;
  height: 80%;
  width: 100px;
  flex-shrink: 0;
  border-radius: 50px;
  overflow: hidden;
}
.section-container .faq {
  padding: 0 1rem;
}

hr {
  width: 50%;
}

@media (max-width: 720px) {
  .cards {
    align-items: center;
    flex-flow: column;
  }
  .card-container {
    width: 80%;
    margin-bottom: 3rem;
  }
  .nav-items {
    display: none;
  }
  .burguer-toggle {
    display: block;
  }
  .mobile-navbar-links {
    animation: translateY(-10px);
    list-style: none;
    display: flex;
  }
  .mobile-navbar {
    display: flex;
  }
  .nav {
    height: 115px;
  }
  .section-content .faq {
    font-size: 0.8rem;
  }
  .logo {
    width: 92px;
  }
  .section-container {
    padding-left: 0rem;
  }
  .commands-wrapper {
    font-size: 4vw;
    margin: 4rem 0.1rem;
    width: 95%;
  }
  .command-description {
    width: 50%;
  }
  .html {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  .footer-container {
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    position: absolute;
    bottom:0;
  }
  .footer-links {
    padding: 0;
    margin: 1rem 0.3rem;
    align-items: flex-start;
    font-size: 1.3rem;
  }
  .footer-links li:first-child {
    margin: 0;
  }
}

@keyframes fade-in-anim {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdown-anim {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(0deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  background-color: var(--black);
  padding: 0;
  margin: 0;
}


.ripple-button {
  padding: 10px 16px;
  font-size: 20px;
  background-color: blueviolet;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight:700;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  border:0;
}